In [1]:
import re

In [5]:
chat1= 'you ask a lot of questions 1234567891, abc@xyz.com'
chat2= 'here it is :(123)-567-8912, abc@xyz.com'
chat3= 'yes, phone: 12345678912 email:abc@xyz.com'

In [9]:
pattern= '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
matches=re.findall(pattern, chat2)
matches

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\dell\AppData\Local\Temp\ipykernel_16560\2966252244.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern= '\d{10}|\(\d{3}\)-\d{3}-\d{4}'

['(123)-567-8912']

In [11]:
pattern= '[a-z0-9A-Z_]*@[[a-z0-9A-Z]*\.[a-zA-Z]*'
matches=re.findall(pattern, chat2)
matches

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\dell\AppData\Local\Temp\ipykernel_16560\1597150767.py:1: SyntaxWarning: invalid escape sequence '\.'
  pattern= '[a-z0-9A-Z_]*@[[a-z0-9A-Z]*\.[a-zA-Z]*'
C:\Users\dell\AppData\Local\Temp\ipykernel_16560\1597150767.py:2: FutureWarning: Possible nested set at position 15
  matches=re.findall(pattern, chat2)

['abc@xyz.com']

In [13]:
chat1='codebasics: Hello, I am having an issue with my order # 412889912'
chat2='codebasics: I have a problem with my order number 412889912'
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [15]:
pattern='order[^\d]*(\d*)'
matches=re.findall(pattern, chat3)
match=matches[0]
match

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\dell\AppData\Local\Temp\ipykernel_16560\1848188838.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern='order[^\d]*(\d*)'

'412889912'

In [17]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971–present)
Canada (1971–present)
United States (2002–present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)
'''

In [21]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [23]:
get_pattern_match(r'age (\d+)', text)

'50'

In [25]:
get_pattern_match(r'Born(.*)\n', text).strip()

'Elon Reeve Musk'

In [27]:
get_pattern_match(r'Born.*\n(.*)\(age', text).strip()

'June 28, 1971'

In [29]:
get_pattern_match(r'\(age.*\n(.*)', text)

'Pretoria, Transvaal, South Africa'

In [31]:
def extract_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
C:\Users\dell\AppData\Local\Temp\ipykernel_16560\3783779278.py:2: SyntaxWarning: invalid escape sequence '\d'
  age = get_pattern_match('age (\d+)', text)
C:\Users\dell\AppData\Local\Temp\ipykernel_16560\3783779278.py:4: SyntaxWarning: invalid escape sequence '\('
  birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
C:\Users\dell\AppData\Local\Temp\ipykernel_16560\3783779278.py:5: SyntaxWarning: invalid escape sequence '\('
  birth_place = get_pattern_match('\(age.*\n(.*)', text)

In [33]:
extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}